.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.direnv
variables.txt
.DS_Store
.envrc
.vscode
.env*.local
models/*
*.wav
*.pt
*.onnx
*.txt
*.wav.conf
voices/*.json
*.mp3