torch>=2.0.0
transformers==4.55.4
huggingface_hub
soundfile
numpy
scipy
ffmpeg-python
sentencepiece
accelerate
safetensors
tqdm
diffusers
librosa
torchcrepe
fairseq@git+https://github.com/MisileLab/fairseq-butter
python-multipart
bitsandbytes
hf_xet